{%extends 'base.html'%}
{% load crispy_forms_tags %}
{% load bootstrap3%}
{% block content %}

{{block.super}}

<h1 style="color: purple; text-align: center;"><u>Welcome to the flashycards</u></h1>

<div class="container-fluid main">
    <div class="container-fluid headview">
   
    
    <div class="templates d-flex flex-row">
        {% for flashcards in flashcards %}

        <div class="col-md-4 mt-4">
            <div class="card profile-card-5">
                <div class="card-img-block">
         
                <div class="card-body pt-0">
                    <h5 class="card-title">{{flashcards.title|title}}</h5>
                    <p class="card-text">{{flashcards.description}}</p>
                    <hr>
                    
                  <p class="card-text "><img src="{{image.profile.image.url}}" class="nav-img mr-2" alt="">
                By {{flashcards.user.username|title}} <span style="float:right">{{flashcards.date|date}}</span>
            </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}